/* #323232 */
.home {
    text-align: center;
    padding: 25px 5px;
    color: white;
    background-color: #39465d;
    font-weight: 500;
}

#content > div{
    opacity: 0;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.text-r {
    text-align: right !important;
}

.text-l {
    text-align: left !important;
}

#rank-competitive {
    height: 40px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px 40px;
    background-image: url('../img/ranks/c_u.png');
}

#rank-wingman {
    height: 40px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px 40px;
    background-image: url('../img/ranks/w_u.png');
}

#country {
    height: 32px;
    width: 32px;
    background-image: url('../img/countries/ukraine.png');
    background-repeat: no-repeat;
    background-size: 32px;
    margin-right: 15px;
}

#avatar {
    height: 216px;
    width: 216px;
    background-image: url('../img/avatar.png');
    background-repeat: no-repeat;
    background-size: 216px;
    border-radius: 5px;

}

#profile {
    height: auto;
    width: auto;
}

.graph-title {
    font-size: 20pt;
}

#profile-icon {
}

#profile-name {
    display: flex;
    flex-direction: row;
    font-size: 20pt;
}

#profile-table {
}

#profile-csgo* {
    text-align: left;
    align-items: center;
}

#profile-info > tbody > tr {
    height: 50px;
    width: 800px;
}

#profile-csgo {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}

#profile-csgo > div {
    display: grid;
    grid-template-columns: 120px 100px 70px 80px 80px 50px;
}

#profile-csgo-header > div {
    text-align: center;
    align-items: center;
}

#graphs {
    margin-top: 50px;

}

#last-matches {
    text-align: left;
}

#matches-table {
    display: grid;
    grid-template-rows: 26px;
    grid-auto-rows: 70px;
}

#matches-table > *{
    border-bottom: 1px solid #cccccc;
    display: grid;
    grid-template-columns: 150px 100px 70px 100px 100px;
    align-items: center;
}

#matches-table > div#matches-header {
    border-bottom: 1px solid #aaaaaa;
}

.map {
    display: flex;
    align-items: center;
    justify-content: left;
}

.map-icon {
    height: 50px;
    width: 50px;
    background-image: url('../img/map_icons/collection_icon_none.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-right: 5px;
}

.status-info {
    padding: 4px 8px;
    margin-left: 3px;
    border-radius: 3px;
    font-weight: 600;
    color: white;
}

.lose {
    background-color: #e43437;
}

.lose-border {
    border-color: #e43437;
}

.win {
    background-color: #05da2e;
}

.win-border {
    border-color: #05da2e;
}

.draw {
    background-color: #efef00;
}

.draw-border {
    border-color: #efef00;
}

.dust2 {
    height: 50px;
    width: 50px;
    background-image: url('../img/dust2.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.empty{
    width: 100%;
    display: flex !important;
    height: 100%;
    justify-content: center;
}

@media only screen and (max-device-width: 1055px) {
}