{% extends 'layout.html' %}
{% block linkrefs %}
    <link rel="stylesheet" href={{ url_for('static', filename="css/animations.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/home.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/csgomisc.css") }}>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
{% block title %}Головна{% endblock %}
{% block title2 %}Головна{% endblock %}
{% block content %}
    <div id="profile">
        <div class="row" id="profileTable">
            <div class="col" id="profileIcon">
                <div id="avatar" style="background-image: url({{ me.get('icon') or 'static/img/avatar.png' }});"></div>
            </div>
            <div class="col" id="profileInfo">
                <div class="row">
                    <div class="col" id="profileName">
                        <div id="country"
                             style="background-image: url({{ url_for('static', filename=('img/countries/' + me.get('country')|country + '.png')) }});"></div>
                        <div>{{ me.get("name") or 'Unknown' }}</div>
                    </div>
                </div>
                <div class="row" id="profileCSGO">
                    <div class="row" id="profileCSGOheader">
                        <div class="textL">Режим</div>
                        <div>Звання</div>
                        <div class="textR">Всього</div>
                        <div class="textR">Перемог</div>
                        <div class="textR">Поразок</div>
                        <div class="textR">Нічиї</div>
                    </div>
                    {% if me.get('competitive') %}
                        {% set games_sum = [me.get('competitive').get('wins')|int or 0, me.get('competitive').get('losses')|int or 0 , me.get('competitive').get('draws')|int or 0 ] %}
                        <div class="row">
                            <div>Змагальний</div>
                            <div>
                                <div id="rank_competitive"
                                     style="background-image: url('static/img/ranks/{{ me.get('competitive').get('rank') | get_c_rank_image }}.png');"></div>
                            </div>
                            <div class="textR">{{ games_sum | sum }}</div>
                            <div class="textR">{{ me.get('competitive').get('wins') or 0 }}</div>
                            <div class="textR">{{ me.get('competitive').get('losses') or 0 }}</div>
                            <div class="textR">{{ me.get('competitive').get('draws') or 0 }}</div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div>Змагальний</div>
                            <div>
                                <div id="rank_competitive" class="{{ None | get_c_rank_image }}"></div>
                            </div>
                            <div class="textR">0</div>
                            <div class="textR">0</div>
                            <div class="textR">0</div>
                            <div class="textR">0</div>
                        </div>
                    {% endif %}
                    {% if me.get('wingman') %}
                        {% set games_sum = [me.get('wingman').get('wins')|int or 0, me.get('wingman').get('losses')|int or 0, me.get('wingman').get('draws')|int or 0] %}
                        <div class="row">
                            <div>Напарники</div>
                            <div>
                                <div id="rank_wingman"
                                     style="background-image: url('static/img/ranks/{{ me.get('wingman').get('rank') | get_w_rank_image }}.png')"></div>
                            </div>
                            <div class="textR">{{ games_sum | sum }}</div>
                            <div class="textR">{{ me.get('wingman').get('wins') or 0 }}</div>
                            <div class="textR">{{ me.get('wingman').get('losses') or 0 }}</div>
                            <div class="textR">{{ me.get('wingman').get('draws') or 0 }}</div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div>Напарники</div>
                            <div>
                                <div id="rank_wingman" class="{{ None | get_w_rank_image }}"></div>
                            </div>
                            <div class="textR">0</div>
                            <div class="textR">0</div>
                            <div class="textR">0</div>
                            <div class="textR">0</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="lastMatches">
        <div id="matchesTable">
            <div id="matchesHeader">
                <div class="mapName">Карта</div>
                <div class="gameDate">Дата</div>
                <div class="gameTime">Час</div>
                <div class="gameDuration">Тривалість</div>
                <div class="gameStatus">Статус</div>
            </div>
            {% if games %}
            {% for game in games %}
                <div>
                    <div class="map">
                        <div class="mapIcon {{ game.get('info').get('gamemode')|get_map|lower }}"></div>
                        <div>{{ game.get('info').get('gamemode')|get_map_space }}</div>
                    </div>
                    <div>{{ game.get('info').get('date')|get_only_date }}</div>
                    <div>{{ game.get('info').get('date')|get_only_time }}</div>
                    <div>{{ game.get('info').get('play_time') }}</div>
                    <div class="status"><span
                            class="statusInfo {{ game.get('stat').get('status')|game_status }}">{{ game.get('stat').get('status')|game_status_text }}</span>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="empty"><span>На даний момент відсутні останні ігри</span></div>
            {% endif %}
        </div>
    </div>
    <!--
    <div id="graphs">
        <canvas id="myChart" width="650" height="400"></canvas>
    </div>
    -->
{% endblock %}
