{% extends 'layout.html' %}
{% block linkrefs %}
    <link rel="stylesheet" href={{ url_for('static', filename="css/settings.css") }}>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
{% block title %}Настройки{% endblock %}
{% block title2 %}Настройки{% endblock %}
{% block content %}
    <div class="container">
        <div class="setting-section">
            <div class="home-section {{ "" if permissions['home'] else "locked" }}">
                {% if not permissions['home'] %}
                    <div class="lock"></div>
                {% endif %}
                <div class="section-title"><span>Головна</span></div>
                <div class="section-tab">
                    <div><span class="settings-title">Кількість матчів</span></div>
                    <div class="set-section">
                        <input id="games-count" type="number" name="last_games_size" min="1" max="5"
                               value="{{ settings.get('home').get('last_games_size') }}">
                        <label for="games-count">Кількість останніх ігр</label>
                    </div>
                </div>
            </div>
            <div class="games-section {{ "" if permissions['games'] else "locked" }}">
                {% if not permissions['games'] %}
                    <div class="lock"></div>
                {% endif %}
                <div class="section-title"><span>Матчі</span></div>
                <div class="section-tab">
                    <div><span class="settings-title">Загрузка картинок профілів</span></div>
                    <div class="set-section">
                        <input value="on" type="radio" name="load_icons"
                                {{ "checked" if settings.get('games').get('load_icons') }}>
                        <label for="icons">Загружати</label>
                        <input value="off" type="radio" name="load_icons"
                                {{ "checked" if not settings.get('games').get('load_icons') }}>
                        <label for="icons">Вимкнути</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="save-container">
            <input class="save" id="" value="Зберегти" type="submit" onclick="submit()">
        </div>
    </div>
{% endblock %}
